<br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12 col-4">
      <h1 class="text-center"> Greetings from, </h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-12 col-2"></div>
    <div class="col-12 col-8">
      <h1 class="display-3 text-center">Sahilkumar Kantibhai Ahir</h1>
    </div>
    <div class="col-12 col-2"></div>
  </div>

  <br>

  <div class="row">
    <div class="col-12 col-1"></div>
    <div class="col-12 col-10">
      <blockquote class="blockquote text-center">
        <p class="h3 fonts">He is a Computer Engineer who adores football and enjoys programming and writing. He
          currently
          resides in Surat, Gujarat, India. He worked as a Web Developer and Content Writer professionally.
        </p>
      </blockquote>
    </div>
    <div class="col-12 col-1"></div>
  </div>
</div>


<br><br><br><br>