<br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-12 col-4">
      <h1 class="text-center"> Greetings from, </h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-12 col-2"></div>
    <div class="col-12 col-8">
      <h1 class="display-3 text-center">Sahilkumar Kantibhai Ahir</h1>
    </div>
    <div class="col-12 col-2"></div>
  </div>

  <br>

  <div class="row">
    <div class="col-12 col-1"></div>
    <div class="col-12 col-10 ">
      <blockquote class="blockquote text-center">
        <p class="h3 fonts">He is a Computer Engineer who adores football and enjoys programming and writing. He
          currently
          resides in Surat, Gujarat, India. He worked as a Web Developer and Content Writer professionally.
        </p>
      </blockquote>
    </div>
    <div class="col-12 col-1"></div>
  </div>



<br><br><br>

<h1 class="text-center display-4 "> EDUCATION </h1>

<table class="table table-responsive ">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Year</th>
      <th scope="col">School / College</th>
      <th scope="col">Highlights</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">10<sup>th</sup></th>
      <td>2014</td>
      <td>Shri Swaminarayan Mission (CBSE)</td>
      <td>The most noticeable outcome was that my communication skills were improved as I 
        was actively participating in presentations and group discussions.
      </td>
      <td>7.8/10 CGPA</td>
    </tr>
    <tr>
      <th scope="row">12<sup>th</sup></th>
      <td>2016</td>
      <td>Shri Swaminarayan Mission (CBSE)</td>
      <td>I have learned many leadership and personal skills during the year. My journey to 
        becoming a Computer Engineer begins here.
      </td>
      <td>72.8%</td>
    </tr>
    <tr>
      <th scope="row"> B.E.<br> COMPUTER ENGINEERING</th>
      <td>2016-2020</td>
      <td>GUJARAT TECHNOLOGICAL UNIVERSITY</td>
      <td>These four years 
        made me an engineer and gave me the confidence to take over the world. 
      </td>
      <td>8.14/10 CGPA</td>
    </tr>
  </tbody>
</table>


<br><br>
<h1 class="text-center display-4 "> EXPERIENCE </h1>

<table class="table table-responsive ">
  <thead>
    <tr>
      <th scope="col">Duration</th>
      <th scope="col">Company</th>
      <th scope="col">Position</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">JUNE 2019 – JANUARY 2020</th>
      <td>KNOXPO Pvt. Ltd.</td>
      <td>INTERN (ANGULAR)</td>
      <td>I hold an internship at a reputed software solution company called KNOXPO. There we did a 
        project based on Angular, Firebase, and Android Studio. The project was to establish a digital 
        platform between the motor driving school and its customers. We have completed our final year 
        project under their guidance and have learned various technical and non-technical skills. 
      </td>
    </tr>
    <tr>
      <th scope="row">DECEMBER 2020 - FEBURARY 2021</th>
      <td> MD TECH CONSULTANCY SERVICES</td>
      <td>INTERN (CONTENT WRITER, BUSINESS DEVELOPMENT MANAGER)</td>
      <td>I was selected as a Technical Content Writer for a tech company. My role was to write Technical 
        content as per their requirements. The other responsibility was compiling theme contents and 
        writing articles around various themes/topics. Later they offered me a business development 
        manager position, and I agreed to it. I have worked as a content writer for 3 months and business 
        development manager for 2 months.
      </td>
    </tr>
    <tr>
      <th scope="row">APRIL 2021 - JULY 2021</th>
      <td> TRADINGET </td>
      <td>INTERN (WEB DEVELOPER)</td>
      <td>I was hired as an intern at Tradinget. It is one of the most promising companies which provides 
        an online B2B and B2C marketplace for the Diamond and Jewellery Industry. I was hired for one of 
        their projects as a web developer. The project was about the automation and digitalization of the 
        whole company’s procedure diamonds. I have worked on all the modules and was one of the core members 
        of the team. While working there, I got proper exposure to working remotely and professionalism. It 
        also helped me sharpen my PHP skills. 
      </td>
    </tr>
  </tbody>
</table>


<br><br>

<div class="row row-content align-items-center">
  <div class="col-12 col-sm-4 order-sm-first col-md-3">
      <h5> CERTIFICATIONS </h5>
  </div>
  <div class="col col-sm order-sm-last col-md">
      <div class="media">
          
          <div class="media-body">
              
              <p>
                Successfully completed AI For Everyone, an online course authorized by deeplearning.ai offered through Coursera.
                <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/9Q8C2XCA9NJ2">View Credentials..</a>
              </p>
              <p>
                Successfully completed Python Basics, an online course approved by the University Of Michigan offered through Coursera.
                <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/9SQS2K3U3Z86">View Credentials..</a>
              </p>
              <p>
                Completed Front-End Web UI Frameworks and Tools: Bootstrap 4, an online course offered by Coursera under the 
                authorization of The Hong Kong University of Science and Technology.
                <a href="https://www.coursera.org/account/accomplishments/verify/TKDW5S55EGKB" target="_blank"> View Credentials.. </a>
              </p>
          </div>
          </div>
  </div>
</div>





<br><br><br><br>