<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4">
            <h3>ECOTRACK</h3>  <span class="badge badge-pill bg-dark"> 2017 - 2019 </span>
        </div>
        <div class="col-12 col-sm-8">
            <div class="media align-items-right">
            
                <div class="media-body">
                    
                    <p>For two years, the research was done as part of the Design Engineering course. Design Engineering's aim was 
                        to recognise real-world challenges and offer solutions for addressing or removing them. The idea was to 
                        make Bicycles available for hire in the city. Bicycles ought to be used as both a means of transportation 
                        or a piece of exercise equipment. With proper authentication, anybody can use these bicycles for their own 
                        reason. We used JAVA NETBEANS to create the desktop framework for allocating and deallocating bikes and keeping 
                        track of records, as well as MYSQL for backend database help. With a commitment to the System's programming, 
                        I took on tasks like Database Connectivity and Interface Design. It was a significant undertaking. The project 
                        was important to me because it was my first project as project leader.</p>
    
                </div>
                
            </div>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-12 col-sm-4">
            <h3>GO DRIVE </h3> <span class="badge badge-pill bg-dark"> 2019 - 2020 </span>
        </div>
        <div class="col-12 col-sm-8">
            <div class="media align-items-right">
            
                <div class="media-body">
                    
                    <p>It was an Industry Defined Project for the final year (IDP). We finished it with an internship at KNOXPO 
                        Solutions Pvt. Ltd., a prestigious tech solutions firm. We worked on Angular, Firebase, and Android Studio for 
                        this project. The aim of the project was to develop a digital forum for the motor driving school and its 
                        customers. The aim of "GO DRIVE" is to fill a gap in the market for a digital channel for driving schools. 
                        It enables someone who wants to learn to drive to find their favourite driving school and time slot, and then 
                        go to drive. The other features of “GO DRIVE” assist the driving school in managing trainers, clients, and 
                        accessing former teacher and customer details. It also provides the school with analytics in a graphical 
                        format. We used Angular for web application creation because we wanted to build a single-page web application 
                        that was simple to maintain. We have used Bootstrap, a framework for creating appealing, sensitive, and 
                        interactive web applications. The backend was driven by Firebase, and the mobile app was developed with 
                        Android Studio. The project was also under my leadership. I was in responsibility of the web application and 
                        the Firebase integration. With GITHUB, we even learnt about version control.</p>
    
                </div>
                
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12 col-sm-4">
            <h3>WEB APPLICATION FOR DIAMOND INDUSTRY </h3> <span class="badge badge-pill bg-dark"> 2021 </span>
        </div>
        <div class="col-12 col-sm-8">
            <div class="media align-items-right">
            
                <div class="media-body">
                    
                    <p>I was hired as an intern at Tradinget. It is one of the most promising companies which provides an online 
                        B2B and B2C marketplace for the Diamond and Jewellery Industry. The project was about the automation and 
                        digitalization of the whole company's procedure for diamonds. The app was made with PHP and MySQL. I have 
                        worked on both Frontend and Backend. I have contributed to all the modules, but most of my contribution 
                        was in Accounting, Backup, and  Report module. For the first time, I worked under someone's leadership, 
                        and this experience was a must for me as I got an understanding of how to work under pressure under 
                        someone's supervision. It was a great experience, and the project was very informative as well.</p>
    
                </div>
                
            </div>
        </div>
    </div>
</div>

<br><br>

<!-- <div class="row ">
    <div class="col-12 col-sm-4 text-center">
        <h3>ECOTRACK</h3>
    </div>
    <div class="col-12 col-sm-7 ">
        <div class="media align-items-right">
            
            <div class="media-body">
                <h2 class="mt-0">Weekend Grand Buffet <span class="badge badge-danger"> NEW</span></h2>
                <p class=" d-none d-sm-block">Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>

            </div>
            
        </div>
    </div>
</div> -->


