<nav class="navbar navbar-dark navbar-expand-lg ">
  <a class="navbar-brand"  [routerLink]="['/home']">

    <img src="../assets/sahil_logo2.png" width="60" height="60" class="d-inline-block align-top" alt="">

  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">


    <form class="form-inline navbar-right">
      <button class="btn btn-outline-light" type="button" routerLink="/home">Home</button>
      <button class="btn btn-outline-light" type="button" routerLink="/projects"> Projects </button>
      <button class="btn btn-outline-light" type="button" routerLink="/about_me"> About </button>
      <button class="btn btn-outline-light" type="button" (click)="downloadFile()"> Resume </button>
      
    </form>



  </div>

</nav>



<router-outlet></router-outlet>



<div class="container">
  <div class="row justify-content-sm-center" >
    
    <div class="col-12 text-center">
      <a href="https://www.facebook.com/sahil.ahir.54540218/" target="_blank" class="left"><i class="fa fa-5x fa-facebook-square fb1"></i></a>
      <a href="mailto:sahilahir333@gmail.com" target="_blank" class="left"><i class="fa fa-5x fa-envelope-square gm1 left"></i></a>
      <a href="https://github.com/Sahilahir" target="_blank" class="left"><i class="fa fa-5x fa-github-square gh1 left"></i></a>
      <a href="https://www.instagram.com/yourstruly_sahil/" target="_blank" class="left"><i class="fa fa-5x fa-instagram in1 left"></i></a>
      <a href="http://linkedin.com/in/sahil-ahir-53783b12b" target="_blank" class="left"><i class="fa fa-5x fa-linkedin-square li1 left" ></i></a>
    </div>
    
  </div>
  
</div>

<br><br>