

@media only screen and (min-width: 359px) {
    body, html{
        
        height: 100%;
        
        
        color: #f5deb2;
        background: #1c1c1bff;
        
        
    }
    body{
        
        background: url('./assets/drawing.svg') no-repeat;
        background-size: cover;
        
    }
}




