<br><br>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
        <img src="../assets/sahil.jpg" class="rounded-circle animate-pop-in" >  
    </div>
    <div class="col-sm-2"></div>
</div>

<!-- <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
        <h1 class="display-4 text-center animate-pop-in">Sahil Ahir</h1>
    </div>
    <div class="col-sm-2"></div>
</div> -->

<div class="row">
    
    <div class="col-sm-5 text-center">
        <h1 class="display-3 text-center animate-pop-in">Web Developer</h1>
    </div>
    <div class="col-sm-2">
        <h1 class="display-3 text-center"> & </h1>
    </div>
    <div class="col-sm-5 text-center">
        <h1 class="display-3 text-center animate-pop-in">Content Writer</h1>
    </div>
    
</div>

<br><br>

   







    
   